body {
  font-family: raleway;
  background-color: #94e8b4;
  padding: 1rem;
  color: #3b322c;
}

h1 {
  padding: 1rem;
  margin-left: 3rem;
}
.submission {
  margin: auto;
  padding: 1rem;
  margin-left: 3rem;
}

.to-do-submission {
  width: 10rem;
  padding: 1%;
}

.element {
  width: 60%;
  margin: 1rem;
  background-color: #72bda3;
  color: #3b322c;
  list-style: none;
  font-size: 2rem;
  text-emphasis: left;
  padding: 1rem;
}

#submit {
  display: inline-block;
  padding: 1%;
}

button {
  padding: 0.5rem;
  border: none;
}

.tick-icon {
  mask: url("/imgs/check-circle-solid.svg");
}

.trash-icon {
  mask: url("/imgs/times-circle-solid.svg");
}

.doneButton {
  display: inline-block;
  height: 2.1rem;
  width: 2.1rem;
  padding: 1em;
  margin-right: 0.5rem;
  float: right;
  background: black;
  mask-size: cover;
}

.removeButton {
  display: inline-block;
  height: 2.1rem;
  width: 2.1rem;
  padding: 1em;
  margin-right: 0.5rem;
  float: right;
  background: black;
  mask-size: cover;
}

.complete {
  background-color: #4e6151 !important;
  color: #72bda3 !important;
}

.doneButton:hover {
  background-color: white;
  transition: 0.5s;
}

.removeButton:hover {
  background-color: white;
  transition: 0.5s;
}
