.submission {
  margin: auto;
  padding: 1rem;
  margin-left: 2rem;
}

.to-do-submission {
  width: 20%;
  padding: 1%;
}

.ul {
}

.li {
}

.element {
  width: 60%;
  margin: 1rem;
  background-color: purple;
  color: red;
  list-style: none;
  font-size: 2rem;
  text-emphasis: left;
}

#submit {
  display: inline-block;
  padding: 1%;
}

button {
  padding: 0.5rem;
  border: none;
}

.doneButton {
  display: inline-block;
  float: right;
  background-color: blue;
  padding: 1.15rem;
}

.removeButton {
  background-color: green;
  display: inline-block;
  float: right;
  padding: 1.15rem;
}
